<!DOCTYPE html>
<html>
  <head>
    <title>Liste de tous les documents</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <h3>Liste de document par service</h3>
        <ul>
          <li *ngFor="let service of services">
            <button (click)="loadDocumentsByService(service)">
              {{ service }}
            </button>
          </li>
        </ul>
      </div>
      <div class="content">
        <h2>Liste de tous les documents</h2>
        <table>
          <thead>
            <tr>
              <th>Noms du documents</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of documents | async">
              <td>{{ document.name }}</td>
              <td>
                <div *ngIf="this.userService.roleMatch(['Supervisor'])">
                  <button
                    (click)="confirmDelete(document.iddoc)"
                    type="button"
                    class="btn btn-danger btn-sm"
                    style="margin-right: 10px"
                  >
                    Supprimer
                  </button>
                </div>

                <button
                  [routerLink]="[
                    '/edit',
                    document.formulaire.id,
                    document.iddoc,
                    document.name
                  ]"
                  type="button"
                  class="btn btn-info btn-sm"
                >
                  Editer
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
