<!DOCTYPE html>
<html>
  <head>
    <title>Liste du documents</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h2>Liste de tous les documents du service {{ _serviceName }}</h2>
        <table>
          <thead>
            <tr>
              <th>Noms du documents</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of documents | async">
              <td>{{ document.name }}</td>
              <td>
                <div class="btn-container">
                  <button
                    type="button"
                    (click)="downloadDocument(document.iddoc)"
                    class="btn btn-info btn-sm"
                    
                  >
                    Télécharger
                  </button>

                  <div *ngIf="this.userService.roleMatch(['Supervisor'])">
                    <button
                      (click)="confirmDelete(document.iddoc)"
                      type="button"
                      class="btn btn-danger btn-sm"
                    >
                      Supprimer
                    </button>
                  </div>

                  <button
                    [routerLink]="[
                      '/edit',
                      document.formulaire.id,
                      document.iddoc,
                      document.name
                    ]"
                    type="button"
                    class="btn btn-info btn-sm"
                  >
                    Editer
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
