<app-supervisor-dash>
  <!DOCTYPE html>
  <html>
    <head>
      <title>Liste du documents</title>
    </head>
    <body>
      <div class="container">
        <div class="content">
          <h2>Liste de tous les documents du service {{_serviceName}}</h2>
          <table>
            <thead>
              <tr>
                <th>Noms du documents</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let document of documents | async">
                <td>{{ document.name }}</td>
                <td>
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    [href]="getDownloadUrl(document.iddoc)"
                    >Telecharger</a
                  >
                  <a (click)="deleteDocument(document.iddoc)">Supprimer</a>
                  <a
                    [routerLink]="[
                      '/edit',
                      document.formulaire.id,
                      document.iddoc,
                      document.name
                    ]"
                    >Éditer</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </body>
  </html>
</app-supervisor-dash>
