<!DOCTYPE html>
<html>
  <head>
    <title>Liste de tous les services</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h2>Liste de tous les services</h2>
        <table>
          <thead>
            <tr>
              <th>Noms du service</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of services | async">
              <td>{{ service.nomservice }}</td>
              <td>
                <button
                  (click)="deleteService(service.idservice)"
                  type="button"
                  class="btn btn-danger margin=50px btn-sm"
                  style="margin-right: 10px"
                >
                  Supprimer
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
