<app-supervisor-dash>
  <!DOCTYPE html>
  <html>
    <head>
      <title>Liste de tous les services</title>
    </head>
    <body>
      <div class="container">
        <div class="content">
          <h2>Liste de tous les services</h2>
          <table>
            <thead>
              <tr>
                <th>Noms du service</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of services | async">
                <td>{{ service.nomservice }}</td>
                <td>
                  <a (click)="deleteService(service.idservice)">Supprimer</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </body>
  </html>
</app-supervisor-dash>
