<!DOCTYPE html>
<html>
  <head>
    <title>Liste du documents</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h2>
          Liste de tous les documents modifiées du service {{ _serviceName }}
        </h2>
        <table>
          <thead>
            <tr>
              <th>Noms du documents</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of documents | async">
              <td>{{ document.documentName }}</td>
              <td>
                <a
                  [href]="getDownloadUrl(document.iddoc)"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="btn btn-info margin=50px btn-sm"
                  style="margin-right: 10px"
                >
                  Télécharger
                </a>

                <div *ngIf="this.userService.roleMatch(['Supervisor'])">
                  <button
                    (click)="confirmDelete(document.iddoc)"
                    type="button"
                    class="btn btn-danger margin=50px btn-sm"
                    style="margin-right: 10px"
                  >
                    Supprimer
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
