<!DOCTYPE html>
<html>
  <head>
    <title>Liste du documents</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h2>
          Liste de tous les documents modifiées du service {{ _serviceName }}
        </h2>
        <table>
          <thead>
            <tr>
              <th>Noms du documents</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of documents | async">
              <td>{{ document.documentName }}</td>
              <td>
                <div class="btn-container">
                  <button
                    type="button"
                    (click)="downloadDocument(document.id)"
                    class="btn btn-info btn-sm"
                  >
                    Télécharger
                  </button>
                  <button
                    (click)="confirmDelete(document.id)"
                    type="button"
                    class="btn btn-danger btn-sm"
                    style="margin-right: 10px"
                  >
                    Supprimer
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
