<!DOCTYPE html>
<html>
  <head>
    <title>Formulaires</title>
  </head>
  <body>
    <div class="form-container">
      <h2 class="form-title">Ajouter une formulaire</h2>

      <form (submit)="addFormulaire()" #formulaireForm="ngForm">
        <label for="nom" class="form-label">Nom du Formulaire:</label>
        <input
          type="text"
          id="nom"
          class="form-input"
          name="nom"
          [(ngModel)]="formulaire.nom"
          required
        />

        <button type="submit" class="form-submit">Ajouter</button>
      </form>
    </div>
  </body>
</html>
