<style>
  h2 {
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button[type="submit"],
  button[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 5px;
    border: 1px solid #ccc;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
</style>

<h2>Ajouter un formulaire</h2>
<form (submit)="addFormulaire()">
  <label for="nom">Nom :</label>
  <input
    type="text"
    name="nom"
    id="nom"
    [(ngModel)]="formulaire.nom"
    required
  />

  <button type="submit">Ajouter</button>
</form>

<h2>Liste de tous les formulaires</h2>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let formulaire of formulaires">
      <td>{{ formulaire.nom }}</td>
      <td>
        <button (click)="deleteFormulaire(formulaire)">Supprimer</button>
        <button (click)="toggleModifier(formulaire)">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>
