<app-supervisor-dash>
  <!DOCTYPE html>
  <html>
    <head>
      <title>Liste de tous les documents modifiées</title>
    </head>
    <body>
      <div class="container">
        <div class="sidebar">
          <h3>Liste de documents modifiées par service</h3>
          <ul>
            <li *ngFor="let service of services">
              <button (click)="loadGeneratedDocumentsByService(service)">
                {{ service }}
              </button>
            </li>
          </ul>
        </div>
        <div class="content">
          <h2>Liste de tous les documents</h2>
          <table>
            <thead>
              <tr>
                <th>Noms du documents</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let document of documents | async">
                <td>{{ document.documentName }}</td>
                <td>
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    [href]="getDownloadUrl(document.id)"
                    >Telecharger</a
                  >
                  <a (click)="deleteGeneratedDocument(document.id)"
                    >Supprimer</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </body>
  </html>
</app-supervisor-dash>
