<app-supervisor-dash>
  <div class="form-container">
    <h2 class="form-title">Ajouter une service</h2>

    <form #serviceForm="ngForm">
      <label for="nomservice" class="form-label">Nom du service:</label>
      <input
        type="text"
        id="nomservice"
        class="form-input"
        name="nomservice"
        [(ngModel)]="service.nomservice"
        required
      />

      <button (click)="addservic()" type="submit" class="form-submit">
        Submit
      </button>
    </form>
  </div>
</app-supervisor-dash>
